<!-- 
<mat-sidenav-container>
  <mat-sidenav opened>
    <mat-list-item>      
      <mat-icon class="first">egg</mat-icon>
      <mat-icon> layers</mat-icon>
      <mat-icon>dashboard</mat-icon>
      <mat-icon>notifications_none</mat-icon>
      <mat-icon>brightness_high</mat-icon>
      <mat-icon>place</mat-icon>
    </mat-list-item> 
    
  </mat-sidenav>
</mat-sidenav-container> -->

<!-- 
  <mat-grid-list cols="1">
    <mat-grid-tile>Tile 1</mat-grid-tile>
</mat-grid-list> -->

<div class="container-fluid" style="background-color: #faf0ea">
  <div class="row">

  <!--===================== sideNav ==================-->

    <div id="custom-sidenav">
      <ul>
        <mat-icon class="first">egg</mat-icon>
        <mat-icon class="x">place</mat-icon>
        <mat-icon class="x">dashboard</mat-icon>
        <mat-icon class="x">layers</mat-icon>
        <mat-icon class="x">brightness_high</mat-icon>
        <mat-icon class="x">notifications_none</mat-icon>
      </ul>
    </div>

    <!--============== CustomerTnfoBar================== -->

    <div id="custom-navbar" class="col-10">
      <ul>
        <div id="custom1" class="col-md-4">
          <mat-icon class="second">factory</mat-icon>
          <p style="font-size: 30px; margin: 10px">2/3</p>
          <p>Monitored stations</p>

          <mat-icon class="second">refresh</mat-icon>
          <p style="font-size: 30px; margin: 10px">20s</p>
          <p>last update</p>
        </div>
        <div id="custom2" class="col-md-4 m-2">
          <button
            class="btn btn-dark"
            style="border-radius: 30px; background-color: rgb(231, 107, 69)"
          >
            TODAY
          </button>
          <button class="btn btn-outlined-dark">YESTERDAY</button>
          <button class="btn btn-outlined-dark">LAST WEEK</button>
        </div>
        <div id="custom3" class="col-md-4 m-1">
          <mat-form-field>
            <mat-label>Start date</mat-label>
            <input matInput type="date" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>End date</mat-label>
            <input matInput type="date" />
          </mat-form-field>
        </div>

        <!-- ===================InfoCards================== -->
      </ul>
      <div
        class="cards d-flex m-5 w-100"
        style="justify-content: space-between"
      >
        <div class="col-md-2" style="margin: 10px">
          <mat-card
            class="shadow"
            style="
              font-size: 20px;
              font-weight: 700px;
              border-radius: 20px;
              background-color: rgb(245, 206, 206);
            "
          >
            <div>
              <p class="p-3" style="font-weight: bold; font-size: 20px">
                71,000 EGP
              </p>
              <p class="m-3" style="font-size: 15px; font-weight: 900">
                Total Value
              </p>
              <div class="d-flex" style="color: red; font-size: 15px">
                <mat-icon>arrow_drop_down</mat-icon>
                <p>2%</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-2" style="margin: 10px">
          <mat-card
            class="shadow bg-body"
            style="font-size: 20px; font-weight: 700px; border-radius: 20px"
          >
            <div>
              <p class="p-3" style="font-weight: bold; font-size: 20px">
                20,000 m3
              </p>
              <p class="m-3" style="font-size: 15px; font-weight: 900">
                Total Value
              </p>
              <div
                class="d-flex"
                style="color: rgb(1, 156, 40); font-size: 15px"
              >
                <mat-icon>arrow_drop_up</mat-icon>
                <p style="margin: 2px">50</p>
                <p>m3</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-2" style="margin: 10px">
          <mat-card
            class="shadow bg-body"
            style="font-size: 20px; font-weight: 700px; border-radius: 20px"
          >
            <div>
              <p class="p-3" style="font-weight: bold; font-size: 20px">
                20,000 m3
              </p>
              <p class="m-3" style="font-size: 15px; font-weight: 900">
                Total Value
              </p>
              <div class="d-flex" style="color: red; font-size: 15px">
                <mat-icon>arrow_drop_down</mat-icon>
                <p style="margin: 2px">50</p>
                <p>m3</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-2" style="margin: 10px; border-radius: 10px">
          <mat-card
            class="shadow bg-body"
            style="font-size: 20px; font-weight: 700px;border-radius: 20px;"
          >
            <div>
              <p class="p-3" style="font-weight: bold; font-size: 20px">1567</p>
              <p class="m-3" style="font-size: 10px; font-weight: 900">
                Total Transaction Count
              </p>
              <div
                class="d-flex"
                style="color: rgb(1, 156, 40); font-size: 15px"
              >
                <mat-icon>arrow_drop_up</mat-icon>
                <p>20</p>
              </div>
            </div>
          </mat-card>
        </div>

        <!--------------------- theRightChart ------------------->

        <div class="col-md-2">
          <div style="text-align: center">
            <p
              style="
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                position: relative;
                left: 25px;
              "
            >
              Hourly Sales
            </p>
          </div>
          <app-right-chart></app-right-chart>
        </div>
      </div>

      <!--================= theMainChart(Graph)toggle ==================-->

      <div id="btn" style="float: right; margin-right: 200px">
        <button
          class="btn-toggle"
          [class.active]="!isList"
          (click)="listOrGraph(true)"
        > 
      
        <mat-icon class="col mb-0 p-1" >show_chart </mat-icon> Graph
         
        </button>
        <button class="btn-toggle"   [class.active]="isList" (click)="listOrGraph(false)">
          
          <mat-icon class="col m-0 p-1" >menu </mat-icon> List
        </button>
      </div>
      <div class="col-12 d-flex m-1" style="justify-content: space-between">
        <div class="col-10">
          <div *ngIf="!isList">
            <app-chart></app-chart>
          </div>

          <mat-card
            style="
              border-radius: 20px;
              width: 80vw;
              scale: 80%;
              margin-left: -70px;
            "
            *ngIf="isList"
          >
            <div class="d-flex" style="justify-content: space-between">
              <div class="d-flex m-3">
                <mat-icon>factory</mat-icon>
                <p class="m-1">Station name</p>
              </div>
              <div class="m-3">
                <mat-icon>more_horiz</mat-icon>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div
              class="d-flex m-3"
              style="justify-content: space-between; font-weight: 900"
            >
              <p>Total sales</p>
              <p>62,721 m3</p>
              <p>Compresion state</p>
              <p>Compresion</p>
              <p>Max Transaction/hour</p>
              <p>20</p>
            </div>
            <div
              class="d-flex m-3"
              style="justify-content: space-between; font-weight: 900"
            >
              <p>Total value</p>
              <p>550 EGP</p>
              <p>Total transaction count</p>
              <p>5161</p>
              <p>Max Transaction date-time</p>
              <p>8-1-2-21 | 10:16 PM</p>
            </div>
          </mat-card>
          <mat-card
            style="
              border-radius: 20px;
              width: 80vw;
              scale: 80%;
              margin-left: -70px;
            "
            *ngIf="isList"
          >
            <div class="d-flex" style="justify-content: space-between">
              <div class="d-flex m-3">
                <mat-icon>factory</mat-icon>
                <p class="m-1">Station name</p>
              </div>
              <div class="m-3">
                <mat-icon>more_horiz</mat-icon>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div
              class="d-flex m-3"
              style="justify-content: space-between; font-weight: 900"
            >
              <p>Total sales</p>
              <p>62,721 m3</p>
              <p>Compresion state</p>
              <p>Compresion</p>
              <p>Max Transaction/hour</p>
              <p>20</p>
            </div>
            <div
              class="d-flex m-3"
              style="justify-content: space-between; font-weight: 900"
            >
              <p>Total value</p>
              <p>550 EGP</p>
              <p>Total transaction count</p>
              <p>5161</p>
              <p>Max Transaction date-time</p>
              <p>8-1-2-21 | 10:16 PM</p>
            </div>
          </mat-card>
        </div>

        <!--=================== SalesByStationSection ===================-->

        <div>
          <div
            class="col-12"
            style="position: relative; top: 100px; left: 80px"
          >
            <p
              style="
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                margin-top: 30px;
              "
            >
              Sales by station
            </p>
            <div
              class="d-flex mt-4"
              style="justify-content: space-between; font-weight: 500"
            >
              <div class="d-flex">
                <mat-icon>factory</mat-icon>
                <p class="m-1">Station name</p>
              </div>

              <div>
                <p class="m-1">62,721 m3</p>
              </div>
            </div>

            <div
              class="progress"
              style="background-color: rgb(247, 225, 218); max-height: 5px"
            >
              <div
                class="progress-bar"
                style="width: 40%; background-color: rgb(231, 107, 69)"
              ></div>
            </div>

            <div
              class="d-flex mt-4"
              style="justify-content: space-between; font-weight: 500"
            >
              <div class="d-flex">
                <mat-icon>factory</mat-icon>
                <p class="m-1">Station name</p>
              </div>

              <div>
                <p class="m-1">62,721 m3</p>
              </div>
            </div>

            <div
              class="progress"
              style="background-color: rgb(247, 225, 218); max-height: 5px"
            >
              <div
                class="progress-bar"
                style="width: 40%; background-color: rgb(231, 107, 69)"
              ></div>
            </div>
            <div
              class="d-flex mt-4"
              style="justify-content: space-between; font-weight: 500"
            >
              <div class="d-flex">
                <mat-icon>factory</mat-icon>
                <p class="m-1">Station name</p>
              </div>

              <div>
                <p class="m-1">NM</p>
              </div>
            </div>
            <div
              class="progress"
              style="background-color: rgb(228, 226, 226); max-height: 5px"
            >
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
